.image1{
z-index:-1000;
 width: 150px;
 height: 150px;
 background-image: url('../images/survey.JPG');
 background-size: cover;
 display: block;
 position:relative;
 float:left;
 margin:40px 14px;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
}

 .image2{
 width: 150px;
 height: 150px;
 background-image: url('../images/geo-technical.png');
 background-size: cover;
 display: block;
 position:relative;
 float:left;
 margin:40px 14px;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
}

.image3{
 width: 150px;
 height: 150px;
 background-image: url('../images/structure.png');
 background-size: cover;
 display: block;
 position:relative;
 float:left;
 margin:40px 14px;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
}

 .image4{
 width: 150px;
 height: 150px;
 background-image: url('../images/testing.JPG');
 background-size: cover;
 display: block;
 position:relative;
 float:left;
 margin:40px 14px;
 border-radius: 100px;
  -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
}

 .image5{
 width: 150px;
 height: 150px;
 background-image: url('../images/training.png');
 background-size: cover;
 display: block;
 position:relative;
 float:left;
 margin:40px 14px;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
}

img-circular{
 width: 150px;
 height: 150px;
 background-image: url('../images/structure.png');
 background-size: cover;
 display: block;
 position:relative;
 float:left;
 margin:40px 14px;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
}

.slide .description {
  position: absolute;
  text-align: center;
  background: rgba(63, 147, 147, 0.8);
  width: inherit;
  height: inherit;
  border-radius: 50%;
  opacity: 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-backface-visibility: hidden;
}

.slide .description h3 {
  color: #fff;
  letter-spacing: 1px;
  font-size: 16px;
  margin: 10px 14px;
  padding: 38px 0 0 0;
  height: 100px;
}
@media only screen and (max-wteamidth: 640px) {
  
  .slide .description h3 {
    font-size: 6px;
    padding: 19px 0px 0px;
  }
}

.slide .description p {
  color: #fff;
  padding: 10px 5px;
  margin: 0 30px;
  font-size: 0.9em;  
  opacity: 0;
  
}

.slide .description p a {
  display: block;
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 4px;
  font-family: 'Open Sans', Arial, sans-serif;
}

.slide .description p a:hover {
  color: #fff222;
  color: rgba(255, 242, 34, 0.8);
}

.slide .img-circular:hover {
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.slide .img-circular:hover .description {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.slide .img-circular:hover .description p {
  opacity: 1;
}

